/*app*/
.count {
	padding: 20px 20px 0 20px;
}

/* editor */
.DiaryEditor {
	border: 1px solid gray;
	text-align: center;
	padding: 20px;
}

.DiaryEditor input,
textarea {
	margin-bottom: 20px;
	width: 500px;
}

.DiaryEditor input {
	padding: 10px;
}
.DiaryEditor textarea {
	padding: 10px;
	height: 150px;
	resize: none;
}

.DiaryEditor select {
	width: 300px;
	padding: 10px;
	margin-bottom: 20px;
}

.DiaryEditor button {
	width: 500px;
	padding: 10px;
	cursor: pointer;
	background-color: palevioletred;
	border: none;
	outline: none;
	color: #fff;
	border: 2px solid thistle;
}

/*list*/
.DiaryList {
	border: 1px solid gray;
	padding: 20px;
	margin-top: 20px;
}
.DiaryList h2 {
	text-align: center;
}

/* item */
.DiaryItem {
	background-color: rgb(240, 240, 240);
	margin-bottom: 10px;
	padding: 20px;
}
.DiaryItem .info {
	border-bottom: 1px solid gray;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.DiaryItem .date {
	color: gray;
}
.DiaryItem .content {
	font-weight: bold;
	margin-bottom: 30px;
	margin-top: 30px;
}
.DiaryItem textarea {
	width: 100%;
	height: 50px;
}
.DiaryItem .btn {
	border: none;
	background-color: #fff;
	padding: 10px;
	margin-right: 7px;
	border: 2px solid transparent;
	cursor: pointer;
}
.DiaryItem .btn.btn__left {
	background-color: palevioletred;
	color: #fff;
}
.DiaryItem .btn.btn__right {
	border: 2px solid palevioletred;
}
